.button {
  user-select: none;
  border: none;

  background-color: var(--c-secondary);
  min-width: 64px;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-px);

  line-height: 1.75;
  font-weight: 600;
  letter-spacing: 0.02857em;

  transition: var(--theme-transition), box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), border-color 90ms ease-in;

  &:hover {
    box-shadow: var(--elevation);
  }
}

.outlined {
  text-transform: uppercase;
  color: var(--c-text);
  background-color: var(--c-bg-secondary);
}
