.container {
  text-align: center;
}
.word {
  font-size: 3rem;
}

.desc {
  margin: 2rem 0;
  p {
    color: var(--c-text-light);
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
  }
}

.quote {
  margin: 1rem 0;
  font-weight: bold;
  font-style: italic;
}

.btnGroup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  button {
    width: 180px;
  }
}
@media only screen and (max-width: 600px) {
  .btnGroup {
    flex-direction: column;

    button {
      margin-bottom: 1rem;
    }
    button:last-of-type {
      margin-bottom: 0;
    }
  }
}
