.container {
  background: var(--c-bg-secondary);
  width: 300px;
  padding: 2rem;
  border-radius: var(--radius-px);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  fieldset > div {
    margin-bottom: 2rem;
  }
  fieldset > div:last-of-type {
    margin-bottom: 0;
  }

  button {
    width: 100%;
    height: 32px;
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding: 0;
  }
}

.toggleForm {
  position: fixed;
  right: 1rem;
  top: 0.5rem;
  font-size: 0.825rem;

  display: flex;

  span {
    margin: 0 0.25rem;
    color: var(--c-secondary);
  }
  p {
    cursor: pointer;
  }
  p:hover {
    color: var(--c-secondary);
  }
}

.error {
  color: var(--c-error);
}
