html {
  --c-bg: #ffffff;
  --c-bg-secondary: #fafafb;

  --c-text: #212121;
  --c-text-invert: black;
  --c-text-light: #454545;

  --c-primary: #ea4c89;
  --c-secondary: #4299e1;

  --c-border: #f3f3f4;

  --c-error: #ff005c;
  --radius-px: 4px;

  --theme-transition: background 0.6s cubic-bezier(0.85, 0, 0.15, 1), color 0.2s cubic-bezier(0.85, 0, 0.15, 1);

  --elevation: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

html[data-theme='dark'] {
  --c-bg: #0d1117;
  --c-bg-secondary: #161b22;

  --c-text: #c9d1d9;
  --c-text-invert: white;
  --c-text-light: #8b949e;

  --c-primary: #ea4c89;
  --c-secondary: #4299e1;

  --c-border: #30363d;

  --elevation: 0 19px 38px rgba(0, 0, 0, 0.5), 0 15px 12px rgba(0, 0, 0, 0.4);
}
