html {
  --c-bg: #ffffff;
  --c-bg-secondary: #fafafb;

  --c-text: #212121;
  --c-text-invert: black;
  --c-text-light: #454545;

  --c-primary: #ea4c89;
  --c-secondary: #4299e1;

  --c-border: #f3f3f4;

  --c-error: #ff005c;
  --radius-px: 4px;
}

html[data-theme='dark'] {
  --c-bg: #0d1117;
  --c-bg-secondary: #161b22;

  --c-text: #c9d1d9;
  --c-text-invert: white;
  --c-text-light: #8b949e;

  --c-primary: #ea4c89;
  --c-secondary: #4299e1;

  --c-border: #30363d;
}
