.container {
  transition: var(--theme-transition);
  width: 100%;
  height: 36px;
  background: var(--c-bg-secondary);

  padding: 0 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-top: auto;

  div:first-of-type {
    margin-right: 1rem;
  }
}

.trophy {
  user-select: none;
  cursor: pointer;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    color: #fb743e;
    margin-right: 8px;
    width: 1rem;
    height: 1rem;
  }
  &:hover {
    color: #fb743e;
  }
}
