.container {
  background: var(--c-bg-secondary);
  width: 320px;
  padding: 2rem 1.25rem;
  border-radius: var(--radius-px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
  form {
    margin: 2rem 0;
  }
}
