.container {
  background: var(--c-bg-secondary);
  width: 320px;
  padding: 2rem 1.25rem;
  border-radius: var(--radius-px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
  form {
    margin: 2rem 0;
  }
}

.toggleForm {
  position: fixed;
  right: 1rem;
  top: 0.5rem;
  font-size: 0.825rem;

  display: flex;

  span {
    margin: 0 0.25rem;
    color: var(--c-secondary);
  }
  p {
    cursor: pointer;
  }
  p:hover {
    color: var(--c-secondary);
  }
}

.error {
  margin-top: 2rem;
  color: var(--c-error);
}
