.container {
  transition: var(--theme-transition);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: var(--c-bg-secondary);
  padding: 1rem;
  border-bottom-left-radius: 16px;
  right: -4px;
  top: -8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.toggleForm {
  position: fixed;

  font-size: 0.825rem;

  span {
    margin: 0 0.25rem;
    margin-top: 4px;
    color: var(--c-secondary);
  }
  p {
    margin-top: 4px;
    cursor: pointer;
  }
  p:hover {
    color: var(--c-secondary);
  }
}

.error {
  margin-top: 2rem;
  color: var(--c-error);
}

.welcome {
  position: fixed;
  font-size: 0.825rem;

  p {
    margin-top: 4px;

    span {
      user-select: none;
      cursor: pointer;
      opacity: 0.9;
      color: var(--c-error);
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0.5rem;
    right: 0;
    top: 0;
    text-align: center;

    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    p,
    span {
      margin-top: 0;
    }
  }
}
